{% extends 'catalog/base.html' %}
{% block content %}

<div class="container">
    <div class="row text-start">
        <div class="row">
            {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="{{ object.image.url }}" alt="Изображение" width="350" height="250"/>
                    <div class="card-body">
                        <p class="card-text">

                            {% if object.is_active %}
                            {{ object|title }}
                            {% else %}
                            <span class="text-muted">{{ object|title }}</span>
                            {% endif %}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Страна</td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td class="w-25">ИНН</td>
                            <td>91-1144442</td>
                        </tr>
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>Redmond,WA,98052-6399</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Имя</td>
                            <td>{{ contact.name }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Телефон</td>
                            <td>{{ contact.phone }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Сообщение</td>
                            <td>{{ contact.message }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-2 box-shadow">
                <div class="card-header mb-0">
                    <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name">Имя</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Телефон</label>
                            <input type="tel" name="phone" class="form-control" id="phone"
                                   placeholder="Контактный телефон" required>
                        </div>
                        <div class="mb-3">
                            <label for="message">Сообщение</label>
                            <textarea name="message" class="form-control" id="message" placeholder="Ваше сообщение"
                                      required></textarea>
                        </div>
                        <input class="btn btn-primary w-100" type="submit" value="Отправить"/>
                    </form>
                </div>
            </div>
            <input type="button" onclick="history.back();" value="Назад" style="margin-top: 10px;"/>
        </div>
    </div>
</div>
{% endblock %}